{% extends 'base.html' %}
{% block title %}Détail Client{% endblock %}
{% block page_title %}👥 Détail Client{% endblock %}

{% block content %}
<div class="card shadow-sm" style="max-width:600px; margin:auto;">
    <div class="card-header bg-info text-white">
        <h5 class="mb-0">👤 Détail du Client</h5>
    </div>
    <div class="card-body">
        <table class="table">
            <tr><th>Nom complet</th><td>{{ client.nom }} {{ client.prenom }}</td></tr>
            <tr><th>Email</th><td>{{ client.email }}</td></tr>
            <tr><th>Téléphone</th><td>{{ client.telephone }}</td></tr>
            <tr><th>CIN</th><td>{{ client.cin }}</td></tr>
            <tr><th>Type Société</th><td><span class="badge bg-primary">{{ client.type_societe }}</span></td></tr>
            <tr><th>Date inscription</th><td>{{ client.date_inscription|date:"d/m/Y" }}</td></tr>
        </table>
        <a href="{% url 'modifier_client' client.pk %}" class="btn btn-warning">✏️ Modifier</a>
        <a href="{% url 'liste_clients' %}" class="btn btn-secondary">⬅️ Retour</a>
    </div>
</div>
{% endblock %}